---
title: "PIMS API Toolkit"
linkTitle: "PIMS API Toolkit"
---

{{< blocks/cover title="PIMS API TOOLKIT" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs">}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/vetsource-platform/pim/">
		Download <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<p class="lead mt-5">Vetsource is built on an open technology platform designed for easy integration. This site is a resource for application developers who want to integrate with Vetsource's web applications.</p>
	<p class="lead mt-5">We are excited to work with you!</p>
	<br></br>
	<p class="lead mt-5">Check out our demo</p>
	<a>{{< blocks/link-down color="info" >}}</a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1440" height="885" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FL4UjxEAHcDIzwDldS2PP31%2FPIM-Integration-Toolkit-Guide%3Fpage-id%3D0%253A1%26node-id%3D621%253A28153%26viewport%3D630%252C-12%252C0.04%26scaling%3Dmin-zoom%26starting-point-node-id%3D621%253A28153" allowfullscreen></iframe><!--
<iframe style=“border: 1px solid rgba(0, 0, 0, 0.1);” width=“800" height=“450” src=“https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FL4UjxEAHcDIzwDldS2PP31%2FPIM-Integration-Toolkit-Guide%3Fpage-id%3D0%253A1%26node-id%3D0%253A1%26viewport%3D5791%252C-2181%252C0.48%26scaling%3Dscale-down%26starting-point-node-id%3D621%253A28153” allowfullscreen></iframe>
-->

<!--<iframe style=absolute width=1100; height="1000" align=center src="https://www.figma.com/file/LNJBGSfKoyTn49tGsHTLS5/PIM-Flow-2021?node-id=0%3A1" allowfullscreen></iframe>-->
{{% /blocks/lead %}}

{{< blocks/section color="#082620" >}}
{{% blocks/feature icon="fa fa-home" title="Vetsource.com" %}}
Visit us on [vetsource.com](https://vetsource.com/)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/vetsource-platform/pim" %}}
We follow a Merge Request contributions workflow on **Gitlab**. If you see anything that needs to change, please let us know or create your own merge request!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/vetsource" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}




